html {
	height: 100%;
}
body {
	color: #444;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown > span {
	font-size: 4rem;
	padding: 1rem 2rem;
	background-color: #ddd;
}

.dropdown-content {
	display: none;
	position: absolute;
	z-index: 1;
	margin-top: 1rem;
	padding: 0;
}
.dropdown-content ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.dropdown-content li {
	font-size: 2rem;
	padding: 1rem 2rem;
	background-color: #f8f8f8;
}
.dropdown-content li:hover {
	background-color: #eeeeee;
	cursor: pointer;
}

.dropdown:hover span {
	background-color: #ccc;
	cursor: pointer;
}
.dropdown:hover .dropdown-content  {
	display: block;
}
